@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-black-400: #2b2d32;
  --color-black-500: #404547;
  --color-black-600: #26262b;
  --color-black-700: #1d1d22;
  --color-gray-100: #fefefe;
  --color-gray-200: #969799;
  --color-gray-300: #e5e5e5;
  --color-gray-400: #9f9f9f;
  --color-gray-500: #d5d4d4;
  --color-white-100: #ffffff;
  --color-white-300: #f5f5f5;
  --color-pink-300: #df96ae;
  --color-yellow-300: #f4f0e4;
  --color-blue-300: #384c75;
  --color-blue-200: #71719a;
  --color-yellow-200: #d9ae89;
  --color-purple-300: #765070;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-black-600);
  color: white;
}

nav ul li,
nav button {
  font-size: 14px;
  cursor: pointer;
}

footer ul li {
  height: 32px;
  cursor: pointer;
}

@utility hero-social-icons {
  @apply bg-white-100 rounded-md h-13 w-15.5 cursor-pointer;
}

@utility mix-backgrounds {
  @apply absolute left-0 w-full h-1/2 -z-10;
}

@utility footer-terms-policy {
  @apply text-gray-200 text-[12px];
}

@layer components {
  .btn-primary {
    @apply bg-black-600 text-white rounded-md px-8 py-3 tracking-[1px];
  }

  .btn-outline {
    @apply border border-black-600 rounded-md px-8 py-3 tracking-[1px];
  }

  .nav-text {
    @apply font-medium tracking-[.9px];
  }

  .sub-banners-text {
    @apply text-[26px] font-semibold;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .footer-list li {
    @apply h-8 text-sm text-white cursor-pointer;
  }

  .footer-terms-policy {
    @apply text-xs text-gray-200 hover:text-white cursor-pointer transition;
  }
}
