@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #26262b;
  color: white;
}

@theme {
  --color-black-600: #26262b;
  --color-black-500: #404547;
  --color-gray-200: #969799;
  --color-gray-300: #e5e5e5;
  --color-gray-400: #9f9f9f;
  --color-white-100: #ffffff;
  --color-white-300: #f5f5f5;
  --color-pink-300: #df96ae;
  --color-yellow-300: #f4f0e4;
  --color-blue-300: #384c75;
  --color-blue-200: #71719a;
  --color-yellow-200: #d9ae89;
  --color-purple-300: #765070;
}

footer ul li {
  height: 32px;
}
